body {
  background-color: azure;
  text-align: center;
  font-family: "Montserrat", sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}


input {
  border-color: rgb(245, 247, 249);
  border-style: solid;
  border-radius: 3px;
  border-width: 1px;
  height: 2rem;
  padding-left: 6px;
  width: 100%;
}


.container {
  border: 1px solid green;
  border-radius: 3px;
  padding: 10px 0px 10px;
  margin: 0 auto 0;
  background-color: rgb(255, 255, 239);
  width: 80%;
}





.row {
  display: flex;
  justify-content: center;
	width: 80%;
  margin: 0 auto 0;
  border-top: 1px solid green;
}

.cell {
  width: 50%;
  padding-top: 15px;
  padding-bottom: 10px;
	text-align: left;
	padding-left: 10%;
}

.title {
  font-size: 20px;
  font-family: "Courier New", Courier, monospace;
  color: rgb(60, 141, 85);
  font-weight: 600;
}


.highlighted {
  background-color: rgb(244, 254, 238);
}

