.arrow {
  position: relative;
  top: 6px;
  cursor: pointer;
  transition: opacity 2s ease-in-out;
	color: rgb(79, 168, 84);
}

.arrow:hover {
  color:green
}

.rotate {
  transform: rotate(180deg);
}

.title {
  font-size: 20px;
  font-family: "Courier New", Courier, monospace;
  color: rgb(60, 141, 85);
  font-weight: 600;
}
